* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.35s linear;
}
body {
    color: white;
    display: flex;
    --bg: #358194;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}
midi-player {
    display: block;
    width: inherit;
    margin: 4px;
    margin-bottom: 0;
  }
midi-player::part(control-panel) {
    background: #150f70;
    border: 2px solid #fff;
    border-radius: 10px 10px 0 0;
  }
midi-player::part(play-button) {
    color: #353;
    border: 2px solid currentColor;
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.2s;
    content: 'hello';
  }
midi-player::part(play-button):hover {
    color: #aaa;
    background-color: #fff;
    border-radius: 10px;
  }
midi-player::part(time) {
    font-family: monospace;
  }
  