* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.35s linear;
}
body {
    font-family: 'Gabarito', cursive;
    background-color: #f0f0f0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    margin-top: 20vh;
}
midi-player {
    display: block;
    width: inherit;
    margin: 4px;
    margin-bottom: 0;
    max-width: 300px;
  }
midi-player::part(control-panel) {
    background: #0050a0;
    border: 2px solid #fff;
    border-radius: 10px 10px 0 0;
  }
midi-player::part(play-button) {
    color: #353;
    border: 2px solid currentColor;
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.2s;
    content: 'hello';
  }
midi-player::part(play-button):hover {
    color: #aaa;
    background-color: #fff;
    border-radius: 10px;
  }
midi-player::part(time) {
    font-family: monospace;
  }
  