body {
    font-family: 'Gabarito', cursive;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 5vh auto;
}

#main h1 {
    font-size: 45px;
}

#main p {
    font-size: 16px;
    padding: 10px;

.button, input[type="submit"] {
    padding: 15px 30px;
    background-color: #0050a0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

.button:hover {
    background-color: #003d79;
}

.logreg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logreg-container {
    width: 300px;
    padding: 20px;
    text-align: left;
}

.logreg-container h1 {
    font-size: 45px;
}

.logreg-container p {
    font-size: 16px;
}

.logreg-container label,
.logreg-container input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

input[type="text"],
input[type="password"] {
    border: 2px solid #0050a0;
    padding: 10px; /* Add padding to the inputs */
    width: 100%; /* Make the inputs fill the container */
    max-width: 100%; /* Limit the maximum width to container width */
    box-sizing: border-box; /* Include padding within the specified width */
    border-radius: 5px; /* Add rounded corners */
    font-size: 16px; /* Set font size */
}

/* Style the text inputs on focus */
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    /* Remove the default focus outline */
    border-color: #003d79;
    /* Change border color on focus */
}
