<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Music</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&display=swap" rel="stylesheet">
    <script
        src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<body id="main">
    <div class="container">
        <center>
            <br />
            <h1>(Quantum) Generated for you!<br /><br /></h1>
            <midi-player src="/songs/{{ song_id }}" sound-font visualizer="#myVisualizer"></midi-player>
            <br /><br /><br />
            <div style="min-height: 150px;">
                <midi-visualizer style="width: 90%;" type="staff" id="myVisualizer"></midi-visualizer>
            </div>
            <br />
            <div style="width: 90%; overflow-x: scroll; overflow-y: hidden; display: flex;">
                {% for i in range(length) %}
                <img src="/circuits/{{ song_id }}/c{{ i }}" alt="Generated Music" style="width: 350px;">
                {% endfor %}
            </div>

        </center>



    </div>
</body>

</html>
